<!DOCTYPE html>
<html>
  <head>
    <title>Modern Web Development</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  </head>
  <body class="container" ng-app="mweb">
    <div>Hello - Modern Web Development</div>
    <form ng-submit="submit(purchase)" ng-controller="PurchaseCtrl">
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Buyer Name</label>
          <input type="text" name="buyer_name" ng-model="purchase.name" class="form-control" placeholder="your name (must match ID)">
        </div>
        <div class="form-group col-sm-6">
          <label>Buyer Email</label>
          <input type="text" name="buyer_email" ng-model="purchase.email" class="form-control" placeholder="your email (to send confirmation notification)">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
        <label>Seating Section</label>
        <select name="seating_section" ng-model="purchase.section" class="form-control" ng-options="s.name for s in sections"></select>
      </div>
      <div class="form-group col-sm-6">
        <label>Number of Seats</label>
        <input type="text" name="num_seats" ng-model="purchase.num_seats" class="form-control" placeholder="enter the number of seats (number only)">
      </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn">Reset</button>
      </div>
      <div>
        <h2>Purchase Summary</h2>
        <p>{{purchase.num_seats || 0}} seats in {{purchase.section.name || 'unknown'}} section for {{purchase.name || 'unknown buyer'}} at email {{purchase.email || 'un@kno.wn'}}</p>
        <h3>Total: {{totalCost | currency}}</h3>
      </div>
    </form>
    <script src="js/app.js"></script>
  </body>
</html>
